# Ignore
food-env/
slurm_error/
slurm_output/
.stuff/
data/*
src/ner/spacy_outputs/
# src/translate/*
models/
.vscode
*/__pycache__
*.log
# Allow
!data/EW-TASTE*
!data/SW-TASTE*
!data/GZ*
!data/TASTEset/utils/*